
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" routerLink="/employee-charts" routerLinkActive="active">Employee Charts</a>
        <a class="nav-link" routerLink="/employee-lists" routerLinkActive="active">Employee Lists</a>
        <a class="nav-link" routerLink="/employee-med-details" routerLinkActive="active">Employee Medical Details</a>
        <a class="nav-link" routerLink="/settings" routerLinkActive="active">Settings</a>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
