<div class="d-flex align-items-center justify-content-center vh-100 bg-light text-center">
  <div class="container">
    <h1 class="display-5 fw-bold">HR Management Portal 🚀</h1>
    <p class="lead mb-4">
      Manage employee details efficiently with charts, lists, and medical records. Streamline HR processes with our intuitive platform.
    </p>

    <div class="row g-4 justify-content-center">
      <div class="col-md-4">
        <div class="p-5 bg-white shadow rounded text-center">
          <h4 class="fw-bold">Employee List</h4>
          <p class="text-muted">Browse a comprehensive list of employees with search, filtering, and sorting functionalities.</p>
          <button
            class="btn btn-primary"
            routerLinkActive="active"
            routerLink="/employee-lists"
            mat-raised-button
            matTooltip="Navigate to Employee List"
            aria-label="Button that displays a tooltip when focused or hovered over"
          >
            View Lists
          </button>
        </div>
      </div>
      <div class="col-md-4">
        <div class="p-5 bg-white shadow rounded text-center">
          <h4 class="fw-bold">Employee Chart</h4>
          <p class="text-muted">Visualize employee data through interactive charts, making insights easy to understand and analyze.</p>
          <button
            class="btn btn-primary"
            routerLinkActive="active"
            routerLink="/employee-charts"
            mat-raised-button
            matTooltip="Navigate to Employee Chart"
            aria-label="Button that displays a tooltip when focused or hovered over"
          >
            View Charts
          </button>
        </div>
      </div>
      <div class="col-md-4">
        <div class="p-5 bg-white shadow rounded text-center">
          <h4 class="fw-bold">Medical Details</h4>
          <p class="text-muted">Keep track of employees' medical details, policy coverage, and claims in one place.</p>
          <button
            class="btn btn-primary"
            routerLinkActive="active"
            routerLink="/employee-med-details"
            mat-raised-button
            matTooltip="Navigate to Employee Medical Details"
            aria-label="Button that displays a tooltip when focused or hovered over"
          >
            View Medical Info</button>
        </div>
      </div>
    </div>
  </div>
</div>

